@model TestApp.Models.Product
@{
    ViewData["Title"] = "Products";
}
<div class="row">
    <!-- Product Image Column -->
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="@Model.Image.File.Url?w=120" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
            </div>
        </div>
    </div>

    <!-- Product Details Column -->
    <div class="col-md-8">
        <div class="product-details">
            <h2>@Model.Name</h2>
            <p class="product-description">Description: @Model.Description</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3" role="button">Go back</a>
        </div>
    </div>
</div>